.cont {
    height: 99.9vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-image: url("../assets/image/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: blur(10px); */
    /* background-color: rgb(48, 48, 48) !important; */
}


.con-form{
    width: 400px;
}





